
.acf-media-library-button-wrapper {
	text-align: right;
}

.rtl .acf-media-library-button-wrapper {
	text-align: left;
}

.acf-media-library-button i {
	vertical-align: middle;
	font-size: 18px;
	color: #82878c;
}